html,body
{
	padding: 0;
	margin: 0;
}
body
{
	margin: 0 auto;
	/*outline: 1px solid black;*/
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.wrapper
{
	margin-top: 20px;
	/*outline: 1px dotted black;*/
}

.one
{
	float: left;
	padding-left: 60px; 
	/*outline: 1px dotted black;*/
}
.two
{
	float: right;
	padding-right: 60px;
}

.player_name
{
	border-radius: 8px;
	border: 1px solid black;
	box-shadow: inset 1px 1px 0 1px rgb(156,156,154),1px 1px 1px 1px black;
	width: 300px;
	position: relative;
	text-align: center;
	margin-right:0;
	height: 40px;
	background-image: radial-gradient(grey 10%, black);
	font-size: 35px;
	color: rgb(200,212,0);
}

.roll
{
	/*outline: 1px dotted black;*/
	margin-top: 10px;
	width: 300px;
	height: 550px;
	border: 2px solid black;
	border-radius: 25%;
	box-shadow:  1px 1px 5px 1px rgb(156,156,154),1px 1px 1px 1px grey;
	background-color: black; 
}

.points_blocks
{
	margin-top: 26px;
	/*outline: 1px solid black;*/
}
.points_block
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	border-radius: 8px;
	border: 1px solid black;
	box-shadow: inset 1px 1px 0 1px rgb(156,156,154),1px 1px 1px 1px black;
	width: 200px;
	position: relative;

	vertical-align:top;
	height: 26px;
	background-image: radial-gradient(grey 10%, black);

	color: rgb(200,212,0);
}
.points_block:hover
{
	box-shadow: 0 0 10px white;
}

.points_block span
{
	width: 100%;
	position: absolute;
	text-align: center;
	top: -10px;
		font-size: 42px;
}

.button
{
	font-size: 26px;
	margin: 5px auto 0;
	width: 170px;
	height: 30px;
	text-align: center;
	background-color: black; 
	border: 1px solid black;
	box-shadow: inset 1px 1px 0 1px rgb(156,156,154),1px 1px 1px 1px black;
}
.button:hover
{
	box-shadow: 0 0 10px white;
}
.start
{
	color: rgb(0,255,0);
}
.stop
{
	color: rgb(255,0,0);
}

.clerfix
{
	clear: both;
}